# 葡萄酒分类数据集-数据处理Demo
参考：https://blog.csdn.net/u012735708/article/details/84000262

## 1、数据分析
当我们拿到一批原始的数据，首先要明确基本信息。（利用pandas、matplotlib.pyplot、seaborn）  

例如：样本数，特征维度，特征类型，各类别分布占比  
- 看数据：data.shape、data.head()、train.describe()  
- 看特征：data.info()、  
- 看类别分布是否均衡：data['category'].value_counts()

In [3]:
import pandas as pd
columns=['0Alcohol','1Malic acid ','2Ash','3Alcalinity of ash',
         '4Magnesium','5Total phenols','6Flavanoid',
         '7Nonflavanoid phenols','8Proanthocyanins ','9Color intensity ','10Hue ','11OD280/OD315 of diluted wines' ,'12Proline ','13category']
data= pd.read_csv("wine.csv",header=None,names=columns)

In [4]:
data.shape 

# (178, 14) 一共178个样本，13个特征列，1个标签列

(178, 14)

In [5]:
data.head(5)

,0Alcohol,1Malic acid,2Ash,3Alcalinity of ash,4Magnesium,5Total phenols,6Flavanoid,7Nonflavanoid phenols,8Proanthocyanins,9Color intensity,10Hue,11OD280/OD315 of diluted wines,12Proline,13category
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1

In [6]:
data.info() #查看数据概述

# 特征列类型：: float64(11), int64(2)
# 标签列：int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
0Alcohol                          178 non-null float64
1Malic acid                       178 non-null float64
2Ash                              178 non-null float64
3Alcalinity of ash                178 non-null float64
4Magnesium                        178 non-null int64
5Total phenols                    178 non-null float64
6Flavanoid                        178 non-null float64
7Nonflavanoid phenols             178 non-null float64
8Proanthocyanins                  178 non-null float64
9Color intensity                  178 non-null float64
10Hue                             178 non-null float64
11OD280/OD315 of diluted wines    178 non-null float64
12Proline                         178 non-null int64
13category                        178 non-null int64
dtypes: float64(11), int64(3)
memory usage: 19.5 KB

In [11]:
data.dtypes #查看数据类型

0Alcohol                          float64
1Malic acid                       float64
2Ash                              float64
3Alcalinity of ash                float64
4Magnesium                          int64
5Total phenols                    float64
6Flavanoid                        float64
7Nonflavanoid phenols             float64
8Proanthocyanins                  float64
9Color intensity                  float64
10Hue                             float64
11OD280/OD315 of diluted wines    float64
12Proline                           int64
13category                          int64
dtype: object

In [8]:
data.describe() #查看数据概述

# 可以得到：
# 1、各特征没有缺失值
# 2、数值型特征的量纲不同
# 3、方差变化也很大

,0Alcohol,1Malic acid,2Ash,3Alcalinity of ash,4Magnesium,5Total phenols,6Flavanoid,7Nonflavanoid phenols,8Proanthocyanins,9Color intensity,10Hue,11OD280/OD315 of diluted wines,12Proline,13category
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258,1.938202
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474,0.775035
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000,1.000000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000,1.000000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000,2.000000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000,3.000000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000,3.000000

In [9]:
data['13category'].value_counts() #查看这一列的值统计

# 3个类别，分别为59、71、48，样本较为均衡

2    71
1    59
3    48
Name: 13category, dtype: int64

In [13]:
data['13category'].unique() #查看数据取值有哪些

array([1, 2, 3], dtype=int64)

In [ ]:
data.corr() #相关系数矩阵，即给出了任意两款菜式之间的相关系数
# 不过数据量很大时会很慢，所以特征维度高时就别用了

In [14]:
data.isnull().sum()  #查看每一列缺失值情况

0Alcohol                          0
1Malic acid                       0
2Ash                              0
3Alcalinity of ash                0
4Magnesium                        0
5Total phenols                    0
6Flavanoid                        0
7Nonflavanoid phenols             0
8Proanthocyanins                  0
9Color intensity                  0
10Hue                             0
11OD280/OD315 of diluted wines    0
12Proline                         0
13category                        0
dtype: int64

In [15]:
data.isnull().sum(axis=1) #查看每一行缺失值情况

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
      ..
148    0
149    0
150    0
151    0
152    0
153    0
154    0
155    0
156    0
157    0
158    0
159    0
160    0
161    0
162    0
163    0
164    0
165    0
166    0
167    0
168    0
169    0
170    0
171    0
172    0
173    0
174    0
175    0
176    0
177    0
Length: 178, dtype: int64

## 2、数据预处理

1） 数据类型分类处理转换  
2） 缺失值处理  
3） 异常值处理  
4） 无量纲化（规范化）

### 缺失值统计与处理：

In [12]:
# 缺失数查看
data.isnull().sum()  #查看每一列缺失值情况
data.isnull().sum().sort_values(ascending=False)
# 缺失值填充
data = data.fillna(data.median()) 
# 根据每列进行填充
for col in data.columns:
    data[col] = data[col].fillna(data[col].median())

# 统计缺失率超过90%的特征
train = data
isnull_cols = []
feature_selected=[]
for col in train.columns:
    if train[col].isnull().sum()/train[col].count() >= 0.9:
        isnull_cols.append(col)
    else:
        feature_selected.append(col)
print('There exists ', len(isnull_cols), ' columns with much null value.')
# 去除缺失率高的列
data = data[feature_selected]


# 统计缺失值超过90%的特征列,封装成函数
def null_ratio(df):
    features=df.columns
    feature_selected=[]
    drop_index=[]
    sz=df.size
    for feat in features:
        sz_null=df[df[feat].isnull()].size
        ratio=float(sz_null)/sz
        if ratio > 0.9:
            drop_index.append(feat) 
        else:
            feature_selected.append((feat,ratio))
    return feature_selected,drop_index

0Alcohol                          0
1Malic acid                       0
2Ash                              0
3Alcalinity of ash                0
4Magnesium                        0
5Total phenols                    0
6Flavanoid                        0
7Nonflavanoid phenols             0
8Proanthocyanins                  0
9Color intensity                  0
10Hue                             0
11OD280/OD315 of diluted wines    0
12Proline                         0
13category                        0
dtype: int64

### 根据数据类型分别处理：

### 规范化处理：

## 3、划分数据集 + 模型

若数据样本较好，可以先不做特征工程，直接带模型看看效果  
若预处理后数据样本维度较大或相关性较强，就先做特征工程，再带模型

1）训练集和测试集划分  
2）LR模型  
3）SVM模型  
4）最近邻分类模型  
5）决策树  
6）随机森林  
7）XGBoost  
8）LightBGM

## 4、特征工程（特征选择+降维）

## 5、模型调参

## 6、模型融合